@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}

/* TopNav starts */
.header {
	background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.search {
	display: flex;
	align-items: center;
}
   
.search form {
	border: 1px solid #000000;
	height: 30px;
}
.search input {
	width: 40vw;
	padding:10px;
	border: 0;
	height: 100%;
	border-radius: 10px 0 0 10px
}
  
input:focus {
	outline: none;
	border: 1px solid #ddd;
}
.search button {
	height: 100%;
	width: 30px;
	border: none;
	border-radius: 0 10px 10px 0;
}
#search-icon{
	display: none;
}
/* Topnav ends */

/* Main-body starts */
main {
	height: calc(100vh - 40px);
	display: flex;
	background-color: #00000093;
}

/* side-navigation starts */
.side-nav {
    height: 100%;
    width: 250px;
    background-color: rgb(142, 129, 129);
    overflow-y: auto;
}
.side-nav::-webkit-scrollbar{
    width: 5px;
}
.side-nav::-webkit-scrollbar-track{
    background-color: #ffffff;
	border-radius: 50px;
}
.side-nav::-webkit-scrollbar-thumb{
	background-color: rgb(0, 0, 0);
	border-radius: 50px;
}
.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
	white-space: nowrap;
	overflow: hidden;
}
.nav-link {
	padding: 12px 20px 12px 15px;
}  
.nav-link span {
	margin-left: 15px;
	color: aliceblue;
	font-weight: 500;
}
.nav-link:hover {
	background: #000000;
	cursor: pointer;
}
hr{
	height: 1px;
	background-color: #e5e5e5;
	border: none;
	width: 90%;
	margin: 10px;
}
#offcanvas{
	width: 220px;
}
.offcanvas-head{
	background-color: black;
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 10px;
}
.offcanvas-head .close{
	cursor: pointer;
}
.offcanvas-body{
	background-color: rgb(142, 129, 129);
	padding: 0%;
}
.offcanvas-body ul li{
	padding: 12px 5px 12px 12px;
}
.offcanvas span{
	color: white;
	margin-left: 12px;
}
.offcanvas-body hr{
	width: 100%;
	margin: 5px 0;
}
.nav-item:hover{
	background-color: #000000;
}
.offcanvas-body::-webkit-scrollbar{
    width: 5px;
}
.offcanvas-body::-webkit-scrollbar-track{
    background-color: #ffffff;
	border-radius: 50px;
}
.offcanvas-body::-webkit-scrollbar-thumb{
	background-color: rgb(0, 0, 0);
	border-radius: 50px;
}
/* side-navigation ends */

/* video-content starts */
.content {
	width: 100%;
	height: 100%;
	padding: 15px 0px;
	overflow-y: scroll;
}
.content::-webkit-scrollbar{
    width: 8px;
}
.content::-webkit-scrollbar-track{
    background-color: #ffffff;
	border-radius: 50px;
}
.content::-webkit-scrollbar-thumb{
	background-image: linear-gradient(rgb(9, 9, 89),rgb(109, 18, 18));
	border-radius: 50px;
}
.videos {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.video {
	width: 23%;
	margin-bottom: 3%;
}
.thumbnail {
	width: 100%;
	height: 170px;
}  
.thumbnail img {
	border-radius: 8px;
	height: 94%;
	width: 100%;
}
.details {
	display: flex;
} 
.author img {
	object-fit: cover;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
.title {
	display: flex;
	flex-direction: column;
}
.title h3 {
	color: rgb(255, 255, 255);
	line-height: 18px;
	font-size: 14px;
	margin-bottom: 6px;
}
.title span {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.685);
	font-size: 12px;
}
/* video-content ends */

/* Main-body engs */

/* media queries */
@media screen and (max-width:1200px){
	.video{
		width: 30%;
	}
}

@media screen and (max-width: 992px){
	.video{
		width: 45%;
	}
}

@media screen and (max-width: 768px) {
	.side-nav{
		width: 60px;
		border-right: 1px solid rgb(255, 255, 255);
	}
	.side-nav span{
		display: none;
	}
	.side-nav .sub{
	   display: none;
	}
	hr{
		width: 35px;
	}
	#demo{
		width: auto;
	}
	.rightNav img{
		display: none;
	}
	.content::-webkit-scrollbar{
		display: none;
	}
	.side-nav::-webkit-scrollbar{
		display: none;
	}
}

@media screen and (max-width:480px){
	.search{
		display: none;
	}
	#search-icon{
		display: inline;
		color: aliceblue;
	}
	#offcanvas{
		width: auto;
	}
	main .side-nav{
		display: none;
	}
	.video{
		width: 100%;
	}
	.thumbnail img{
		border-radius: 0%;
	}
	.content{
		padding: 5px;
	}
	.details{
		padding-left: 10px;
	}
}
/*Media query for mobile*/

@media screen and (max-width:567px){
	.search{
		display: none;
	}
	#search-icon{
		display: inline;
		color: aliceblue;
	}
	#offcanvas{
		width: auto;
	}
	main .side-nav{
		display: none;
	}
	.video{
		width: 100%;
	}
	.thumbnail img{
		border-radius: 0%;
	}
	.content{
		padding: 5px;
	}
	.details{
		padding-left: 10px;
	}
}

